*｛margin:0;padding:0;border:0;list-style: 0;｝
span{
	text-decoration: none;
	font-size: 30px;
	color: #fff;
}
div{
	width: 580px;
	height: 200px;
	margin: 50px auto;
	position: relative;
}
span{
	float: left;
	width: 50px;
	height: 90px;
	line-height: 90px;
	background: #333;
	opacity: 0.7;
	border-radius: 4px;
	text-align: center;
	display: none;
	cursor: pointer;
	color: #FFFFFF;
}
.left{
	position: absolute;
	left: -12px;
	top: 60px;
}
.right{
	position: absolute;
	right: -12px;
	top: 60px;
}
div:hover span{
	display: block;
}
ul{
	width: 110px;
	height: 20px;
	background: #333;
	opacity: 0.5;
	border-radius: 8px;
	position: absolute;
	right: 30px;
	bottom: 20px;
	text-align: center;
}
li{
	width: 5px;
	height: 5px;
	background: #ccc;
	border-radius: 50%;
	display: inline-block;
}
.max{
	width: 12px;
	background: #03BDE4;
	border-radius: 6px;
}














